<md-content>
  <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label><i class="fa fa-user"></i> Login Name</label>
      <input ng-model="user.name" type="text" ng-required="true">
  </md-input-container>
  <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label><i class="fa fa-unlock-alt"></i> Password</label>
      <input ng-model="user.password" type="password" ng-required="true">
  </md-input-container>
  <md-button class="md-warn md-raised md-hue-2">Login</md-button>
</md-content>

